{% extends 'layout.html' %}

{% block head %}
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
  <section class="micro">
    <div class="container">
      <div class="title">Web Dictophone</div>
      <div class="micro__inner">
        <div class="micro__inputs">
          <div class="micro__inputs-content">{{ usrtxt.text }}</div>
          <div class="micro__inputs-content">{{ usrtxt.emotion }}</div>
        </div>
        <div class="micro__dictophone">
          <div class="micro__dictophone-btn">
            <button class="record">
              <img src="{{ url_for('static', filename='img/Vector.svg') }}" alt="" class="first_state">
            </button>
            <button class="stop">
              <img src="{{ url_for('static', filename='img/Group 5.svg') }}" alt="" class="second_state">
            </button>
          </div>
          <div class="micro__record">
            <div class="micro__record-wrap">
              <div class="micro__text">0:32</div>
              <button class="listen">
                <img src="{{ url_for('static', filename='img/Group 17.svg') }}" alt="">
<!--                <img src="{{ url_for('static', filename='img/Group 18.svg') }}" alt="">-->
              </button>
            </div>
            <div class="micro__record-items">
              <a href="/next/{{ usrtxt.num_text + 1 }}" class="success">
                <button id="success">
                  <img src="{{ url_for('static', filename='img/Group 19.svg') }}" alt="">
                </button>
              </a>
              <a href="/next/{{ usrtxt.num_text + 1 }}">
                <button id="fail">
                  <img src="{{ url_for('static', filename='img/Group 16.svg') }}" alt="">
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

